

@charset "UTF-8";

@font-face {
    font-family: 'NanumSquare_acB';
    src: url('../font/NanumSquare_acB.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumSquare_acEB';
    src: url('../font/NanumSquare_acEB.ttf') format('truetype');
}
html, body{
  height: 100%;
  font-family: 'NanumGothic';
  overflow: hidden;
}
img{
  max-width: 100%;
  height: auto !important;
}
a{
  color:black!important;
  border-bottom: 0px!important;
}
a:link
{
  color: black!important;
  text-decoration: none!important;
  border-bottom: 0px!important;

}
a:visited
{
  color: black!important;
  text-decoration: none;
}
a:hover
{
  color: black!important;
  text-decoration: none!important;
}
.navbar-blue-top{
  height: 5%;
  background-color: #012873;
}
#navbar-menu1{
  height: 12%;
  /* background-color: lightgrey; */

}
.main-frame{
  /* height: calc(100% - 120px); */
  height: 78%

}
.navbar-blue-bottom{
  height: 5%;
  background-color: #012873;
}
.navbar-blue-bottom-pknu{
  height: 60px;
  background-color: #ebebeb;
}
.navbar-blue-bottom-pknu-text{
  font-family: 'NanumSquare_acEB'!important;
  /* font-size: 1vw; */
  /* margin: 10% 10%; */
}

.main_img{
  height: 65%;
  background-image: url("../img/2000_2.jpg");
  background-size: cover;
}
.main-frame-bottom{
  height: 35%;
}
.bottom_img_1{
  background-image: url("../img/bottom_1_press.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.bottom_img_2{
  background-image: url("../img/bottom_2_press.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.bottom_img_3{
  background-image: url("../img/bottom_3_press.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.bottom_img_0{
  background-image: url("../img/bottom_left.png");
  background-size: cover;
  /* width: 100%;
  height: 100%!important; */
}
.bottom_img_pknu{
  max-width: 65%!important;
  height: auto;
}
.bottom_img_5{
  background-image: url("../img/bottom_right.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.overlay{
  width:100%;
  height: 100%;
}
.display_none_des{
  display: none!important;
}
.menu{
  height: 100%;
}
#menu_hide1{
  background-color: white;
  height: 200px;
  width: 100%;
  display: none;
  z-index: 0;
  position: absolute;

}
.menu-category{
  margin: auto 0px;
  text-align: center;
}
.menu-category-font{
  font-size:1.2vw;
  font-family: 'NanumSquare_acEB';
}
.menu-category-font-en{
  font-size:0.9vw;
  font-family: 'NanumSquare_acB';
}
.menu-category:hover{
  cursor: pointer;
  border-bottom: 0px solid lightblue;
}
.menu-category-font:active{
  color:red;
}
.menu_detail{
  height: 100%;
}
.menu_detail_head{
  background-color: #012873;
  /* background-image:url("../img/header.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
}
.menu-category-detail-font{
  font-family: 'NanumSquare_acB';
  /* font-size:0.7rem; */
  color: black;
  text-align: center;
  padding: 20px 0px;
}

.margin_zero{
  margin: 0px!important;
}
#overlay_pknu {
  position: absolute;
  display: ;
  width: 250px;
  height: 140px;
  top: 530px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  cursor: pointer;
}
.padding_zero{
  padding: 0px!important;
}
.padding_zero_left{
  padding-left: 0px!important;
}
.logo_img{
  max-width: 80%;
  /* height: 100%; */
  /* padding:10px 10px; */
  /* height: 60px!important; */
  /* background-image:url("../img/logo_pknu.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}
.col-20{
  flex: 0 0 20%;
  max-width: 20%;
  /* margin: 5px; */
  padding:5px;
}
