@charset "UTF-8";

@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url('../font/NanumGothicExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url('../font/NanumGothicBold.ttf') format('truetype');
}
html, body{
  height: 100%;
  font-family: 'NanumGothic';
}
img{
  max-width: 100%;
  height: auto !important;
}
a{
  color:black!important;
  border-bottom: 0px!important;
}
a:link
{
  color: black!important;
  text-decoration: none!important;
}
a:visited
{
  color: black!important;
}
.navbar-blue{
  height: 40px;
  background-color: #012873;
}

#navbar-menu1{
  /* height: 80px; */
  /* background-color: lightgrey; */

}
/* .navbar-menu:hover{
  top:100px;
  width:200px;
  height: 200px;
} */
.main-frame{
  height: calc(100% - 120px);

}
#test1{

}
.dept02 {display:none;}
.test2{
  background-color: white;
  height: 200px;
  width: 100%;
  display: none;
  z-index: 0;
}
#menu_hide1{
  background-color: white;
  height: 200px;
  width: 100%;
  display: none;
  z-index: 0;
  position: absolute;

}
.menu-category{
  margin: auto 0px;
  text-align: center;
}
.menu-category-font{
  font-size:0.9rem;
  font-family: 'NanumGothicExtraBold';
}
.menu-category-font-en{
  font-size:0.6rem;
  font-family: 'NanumGothicExtraBold';
}
.menu-category:hover{
  cursor: pointer;
  border-bottom: 1px solid lightblue;
}
.menu-category-font:active{
  color:red;
}
.menu_detail{
  height: 100%;
}
.menu_detail_head{
  background-color: #012873;
  /* background-image:url("../img/header.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
}
.menu-category-detail-font{
  font-family: 'NanumGothicBold';
  font-size:0.8rem;
  color: black;
  text-align: center;
  padding: 20px;
}

.margin_zero{
  margin: 0px!important;
}
#overlay_pknu {
  position: absolute;
  display: ;
  width: 250px;
  height: 140px;
  top: 530px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  cursor: pointer;
}
.padding_zero{
  padding: 0px!important;
}

.logo_img{
  max-width: 80%;
  margin:10px 20px;
  height: 60px!important;
}
